:root {
  --clr-black: hsl(0, 0%, 0%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-whitesmoke: hsl(0, 0%, 96%);
  --clr-green: hsl(152, 45%, 65%);
  --clr-green-focus: hsl(152, 45%, 45%);
  --clr-blue: hsl(193, 86%, 48%);
  --clr-red: hsl(2, 68%, 62%);
}
