@use '../util' as u;

.container-body {
  background-color: var(--clr-whitesmoke);
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

a:link,
a:visited {
  text-decoration: none;
}

.heading-1,
.heading-2,
.heading-3 {
  font-weight: 400;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: u.rem(20);
}

p {
  margin-top: 0;
  margin-bottom: u.rem(20);
}
