@use '../util' as u;

.container {
  border: 1px solid var(--clr-whitesmoke);
  width: min(100% - u.rem(40), u.rem(800));
  margin-inline: auto;
}

.heading-1 {
  text-align: center;
  margin-block: u.rem(30);
}

.form {
  display: flex;
  margin-bottom: u.rem(40);

  &__input {
    padding: u.rem(10);
    font-size: u.rem(16);
    border: 1.5px solid var(--clr-green);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: calc(100% - u.rem(81.95));

    transition: all 0.1s linear;

    &:focus {
      outline: none;
      border-color: var(--clr-green-focus);
    }
  }

  &__btn {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left: none !important;
  }
}

.todo {
  margin-bottom: u.rem(80);

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: u.rem(20);
  }

  &__desc {
    font-size: u.rem(22);
  }

  &__icons {
    display: flex;
    gap: u.rem(15);
  }

  &__icon {
    font-size: u.rem(20);

    &--check {
      color: var(--clr-green);
    }

    &--update {
      color: var(--clr-blue);
    }

    &--close {
      color: var(--clr-red);
    }
  }
}

.btn-clear {
  display: block;
  margin-inline: auto;
}
